# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'STM32 Debugger'
      'submenu': [
        {
          'label': 'Toggle Debugging...'
          'command': 'debugger:toggle'
        }
      ]
    ]
  }
]
